train:
  clip_observations: 10
  clip_rewards: 10
  gamma: 0.997
  epsilon: 1.0e-8
  policy: 'MultiInputPolicy'
  features_extractor_arguments:
    global_convolution_channels: [32,
                                  64,
                                  64]
    global_convolution_kernel_sizes: [3,
                                      3,
                                      3]
    global_convolution_strides: [1,
                                 2,
                                 2]
    global_embedding_dimension: 256
    global_input_channels: 8
    local_convolution_channels: [16,
                                 32]
    local_convolution_kernel_sizes: [3,
                                     3]
    local_convolution_strides: [1,
                                1]
    local_embedding_dimension: 64
    scalar_keys: ['robot_position',
                  'distance_to_maximum_belief',
                  'distance_to_maximum_belief_reduction',
                  'belief_shannon_entropy',
                  'belief_shannon_entropy_reduction']
    scalar_hidden_sizes: [64,
                          64]
    scalar_embedding_dimension: 64
    group_count: 8
  network_architecture:
    pi: [256,
         128]
    vf: [256,
         128]
  start_learning_rate: 4.0e-4
  end_learning_rate: 2.0e-4
  number_steps: 200
  batch_size: 200
  number_epochs: 5
  generalized_advantage_estimation_lambda: 0.97
  clip_range: 0.2
  normalize_advantage: true
  entropy_coefficient: 0.005
  value_function_coefficient: 0.5
  maximum_gradient_norm: 0.5
  verbose: 1
  stats_window_size: 100
  _init_setup_model: true
  total_timesteps: 1_000_000
  checkpoint_frequency: 100_000
environment:
  seed: null
  sensor_alpha: 0.3
  environment_size: 20
  vision_range: 2
  maximum_steps: 400
reward:
  step_weight: 1
  distance_reduction_weight: 9
  entropy_reduction_weight: 3
  terminated_weight: 270
  truncated_weight: 270
visualization:
  frames_per_second: 20
  render_mode: 'human'
  show_heatmap: true
  show_victim: true
  show_path: true
  window_size: 700
  render: true
load_maskableppo:
  normalize_observations: false
  normalize_rewards: false
evaluation:
  training_episode_percentage: 0.2
  random: true
  maskableppo: true
  pomcp: false
random:
  seed: null
pomcp:
  seed: null
  number_simulations: 20
  maximum_depth: 20
  exploration_constant: 2.0
  number_particles: 200
